<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://camel.apache.org/schema/spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

	<beans:bean id="myService" class="camel.direct.seda.MyService"/>

	<camelContext>
		<template  id="producer"/>
		<consumerTemplate  id="consumer"/>
		<endpoint uri="direct:in" id="in"/>
		<endpoint uri="seda:out" id="out"/>
		<endpoint uri="bean:myService" id="service"/>
		<route>
			<from ref="in"/>
			<to ref="service" />
			<to uri="out"/>
		</route>
	</camelContext>

</beans:beans>