<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://camel.apache.org/schema/spring"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">
       
     <beans:bean id="toIdCommande" class="camel.restlet.commande.ToIdCommande"/>
     <beans:bean id="toCommande" class="camel.restlet.commande.ToCommande"/>
     <beans:bean id="logProcessor" class="camel.restlet.commande.LogProcessor"/>
    
    <camelContext id="camelContext">
    	<route>
    	<from uri="restlet:http://localhost:8089/commande?restletMethod=POST" />
    	<setHeader headerName="commandeId">
    		<constant>1</constant>
    	</setHeader>
    	<to uri="activemq:queue:commande.nouvelle" pattern="InOnly"/>
    	<bean ref="toIdCommande"/>
    	</route>
    	<route>
    	<from uri="activemq:queue:commande.nouvelle?concurrentConsumers=5" />
    	<to uri="bean:toCommande"/>
    	<to uri="bean:logProcessor"/>
    	
    	
    	
    	
    	</route>
    </camelContext>

</beans:beans>